{% extends "base.html" %}

{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    {{ form.username|as_crispy_field }}
    {{ form.email|as_crispy_field }}
    {{ form.first_name|as_crispy_field }}
    {{ form.last_name|as_crispy_field }}
    {{ form.years_of_experience|as_crispy_field }}

    <div>
      <label>Choose your avatar:</label><br>
      {% for choice in form.avatar.field.choices %}
        <label style="display:inline-block; margin:5px; text-align:center;">
          <input type="radio" name="{{ form.avatar.name }}" value="{{ choice.0 }}"
                 {% if form.avatar.value == choice.0 %}checked{% endif %}>
          <img src="{% static choice.0 %}" width="50" alt="{{ choice.1 }}">
        </label>
      {% endfor %}
    </div>

    <input type="submit" value="Update">
  </form>
{% endblock %}